<h1>Projects</h1>
<div class="row">
  <div class="col-8 mx-auto">
    <div class="form-group form-row">
      <label for="txtSearchText" class="col-form-label col-3">Search:</label>
      <div class="col-9">
        <div class="input-group">
          <input type="text" class="form-control" id="txtSearchText" name="searchText" [(ngModel)]="searchText">
          <div class="input-group-append" (click) = "onSearchClick()">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 mx-auto">
    <button class="btn btn-primary" data-toggle="modal" data-target="#newModal">Create Project</button>
  </div>
  <div class="col-8 mx-auto">
    <table class="table">
        <thead>
          <th>Project ID</th>
          <th>Project Name</th>
          <th>Date of Start</th>
          <th>Team Size</th>
          <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects; let i = index">
              <td>{{project.projectId}}</td>
              <td>{{project.projectName}}</td>
              <td>{{project.dateOfStart}}</td>
              <td>{{project.teamSize}}</td>
              <td>
                <button class="btn btn-info mr-2" (click)="onEditClick($event,i)" data-toggle="modal" data-target="#editModal">Edit</button>
                <button class="btn btn-info" (click)="onDeleteClick($event,i)" data-toggle="modal" data-target="#deleteModal">Delete</button>
              </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

<!-- new project -->
<form>
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 720px;">

        <div class="modal-header">
          <div class="modal-title">New Project</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>

        <div class="modal-body">
<!--
          <div class="row form-group">
            <label for="txtNewPrjId" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewPrjId" style="width: 100px;" class="form-control" placeholder="Project ID"
                name="projectId" [(ngModel)] = "newProject.projectId"/>
            </div>
          </div>
-->

          <div class="row form-group">
            <label for="txtNewPrjName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewPrjName" class="form-control" placeholder="Project Name"
                name="projectName" [(ngModel)] = "newProject.projectName"/>
            </div>
          </div>

          <div class="row form-group">
            <label for="txtNewDtOfStart" class="col-sm-4 col-form-label">Date of Start</label>
            <div class="col-sm-8">
              <input type="date" id="txtNewDtOfStart" style="width: 170px;" class="form-control" placeholder="Date of Start"
                name="dateOfStart" [(ngModel)] = "newProject.dateOfStart"/>
            </div>
          </div>

          <div class="row form-group">
            <label for="txtNewPrjTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="number" id="txtNewPrjTeamSize" style="width: 150px;" class="form-control" placeholder="Team Size"
                name="teamSize" [(ngModel)] = "newProject.teamSize"/>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" data-dismiss="modal" (click)="onSaveClick()">Save</button>
        </div>

      </div>
    </div>
  </div>
</form>

<!-- edit project -->
<form>
  <div class="modal" role="dialog" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 720px;">

        <div class="modal-header">
          <div class="modal-title">Edit Project</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>

        <div class="modal-body">
          <div class="row form-group">
            <label for="txtEditPrjId" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="text" id="txtEditPrjId" style="width: 100px;" class="form-control plain-text" placeholder="Project ID"
                name="projectId" [(ngModel)] = "editProject.projectId" disabled="disabled"/>
            </div>
          </div>

          <div class="row form-group">
            <label for="txtEditPrjName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtEditPrjName" class="form-control" placeholder="Project Name"
                name="projectName" [(ngModel)] = "editProject.projectName"/>
            </div>
          </div>

          <div class="row form-group">
            <label for="txtEditDtOfStart" class="col-sm-4 col-form-label">Date of Start</label>
            <div class="col-sm-8">
              <input type="date" id="txtEditDtOfStart" style="width: 170px;" class="form-control" placeholder="Date of Start"
                name="dateOfStart" [(ngModel)] = "editProject.dateOfStart"/>
            </div>
          </div>

          <div class="row form-group">
            <label for="txtEditPrjTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="number" id="txtEditPrjTeamSize" style="width: 150px;" class="form-control" placeholder="Team Size"
                name="teamSize" [(ngModel)] = "editProject.teamSize"/>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" data-dismiss="modal" (click)="onUpdateClick()">Save</button>
        </div>

      </div>
    </div>
  </div>
</form>

<!-- delete project -->
<form>
  <div class="modal" role="dialog" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 720px;">

        <div class="modal-header">
          <div class="modal-title">Delete Project</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>

        <div class="ml-10 text-warning">Are you sure you want to delete this Project?</div>

        <div class="modal-body">
          <div class="row form-group">
            <label for="txtDeletePrjId" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="text" id="txtDeletePrjId" style="width: 100px;" class="form-control plain-text" placeholder="Project ID"
                name="projectId" [(ngModel)] = "deleteProject.projectId" disabled="disabled"/>
            </div>
          </div>

          <div class="row form-group">
            <label for="txtDeletePrjName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtDeletePrjName" class="form-control plain-text" placeholder="Project Name"
                name="projectName" [(ngModel)] = "deleteProject.projectName" disabled="disabled"/>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" data-dismiss="modal" (click)="onDeleteConfirmClick()">Delete</button>
        </div>

      </div>
    </div>
  </div>
</form>
